$GroupWarpPrefixCls: "xy-optgroup";
$OptionWarpPrefixCls: "xy-option";

.#{$GroupWarpPrefixCls} {
    display: block;
    text-align: left;
    margin: 0;
    user-select: none;
}

.#{$GroupWarpPrefixCls}__title {
    height: 32px;
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.45);
    font-size: 12px;
    line-height: 32px;
    margin: 0;
}
.#{$GroupWarpPrefixCls}__list {
    margin: 2px 0;
    padding: 0;

    & > .#{$OptionWarpPrefixCls} {
        padding-left: 20px;
    }
}
